@using Coocing.ViewModels;
@model RecipesDetailsViewModel

@{
    ViewData["Title"] = Model.Recipes.Name;
}

<head>
    <link rel="stylesheet" href="/css/site.css">
</head>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        <b>
            @Model.Recipes.Name
        </b>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img width="550" class="img-fluid" src="@Model.Recipes.ImageUrl" style="border-radius: 10px" alt="">
        </div>

        <div class="col-4">
            <h2 class="my-3"><b>Опис</b></h2>
            <h4>@Model.Recipes.Description</h4>
        </div>
    </div> <br />
    <!-- /.row -->
    <!-- Related Projects Row -->

    <div class="row">
        <div class="col-md-8 offset-2">
            <h3 class="my-4">Коментарі:</h3>
            @foreach (var item in Model.Coments)
            {
                <div class="card">
                    <div class="card-header"><h4 class="card-title">@item.UserName</h4></div>
                    <div class="card-body">
                        <p class="card-text">@item.Text</p>
                    </div>
                </div><br/>
            }
        </div>
    </div>

    @* <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div> *@

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->